# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# macOS
.DS_Store

# testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
node_modules


# Expo related
.expo
__generated__
.expo-shared
.cache
.metro
web-build
web-build-static

# Gradle
.gradle
/build

# Android
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches

# iOS
/ios/Pods/
/ios/build/
/ios/Podfile.lock
/ios/Podfile.backup
/ios/DerivedData/

# Miscellaneous
/.vscode
/.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
expo-debug.log
*.iml
.env

# User-specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
